In [12]:
num1=5
num2=10
sum1=float(num1+num2)
print(sum1)

15.0

In [13]:
type(sum1)

float

In [16]:
int(sum1)

15

In [17]:
type(sum1)

float

In [19]:
num3=input('Enter the number.')
print(num3)

Enter the number.5
5

In [20]:
#To see if a number is odd or even.

In [34]:
num4=int(input('Enter the number'))
if num4%2==0:
    print("The given number is even.")
else:
    print("the given number is odd.")

Enter the number15
the given number is odd.

In [35]:
5**2

25

In [36]:
div1=15/4

In [40]:
print(round(div1,2))

3.75

In [41]:
import math
math.sqrt(81)

9.0

In [43]:
for number in range(1,6):
    print(number)

1
2
3
4
5

In [67]:
string1="My name is manish"
count1=string1.count('n')
print("The count of n is:", count1)

The count of n is: 2

In [69]:
for letter in "manish":
    if letter=='i':
        print('There is i.')

There is i.

In [71]:
sum=0
for number in range(1,6):
    sum=sum+number
print(sum)

15

In [74]:
for i in range(0,5):
    print(i)
    print('----------------')
    for j in range(0,2):
        print(j)

0
----------------
0
1
1
----------------
0
1
2
----------------
0
1
3
----------------
0
1
4
----------------
0
1

In [79]:
number=1
while number<6:
    print(number)
    number=number+1

1
2
3
4
5

In [80]:
sum=0
numb1=1
while numb1<6:
    sum+=numb1
    numb1+=1
print(sum)

15

In [81]:
2*3

6

In [84]:
def message():
    print('Text')
message()

Text

In [85]:
def message(text):
    print(text)
message('text 1')

text 1

In [87]:
def sum(a,b):
    print(a+b)
sum(1,2)

3

In [88]:
def sum(a,b):
    return a+b
r=sum(2,3)
print(r)

5

In [94]:
tuple1=('cat','dog','mouse')
tuple1

('cat', 'dog', 'mouse')

In [95]:
tuple1[2]

'mouse'

In [96]:
list1=['cat','dog','mouse']
list1

['cat', 'dog', 'mouse']

In [97]:
list1[0]

'cat'

In [98]:
type(list1)

list

In [99]:
type(tuple1)

tuple

In [100]:
list2=['hen','sparrow','peigon']

In [101]:
list3=list1+list2

In [102]:
list3

['cat', 'dog', 'mouse', 'hen', 'sparrow', 'peigon']

In [103]:
list3[0:4]

['cat', 'dog', 'mouse', 'hen']

In [104]:
list1.append('monkey')
list1.remove('mouse')

In [105]:
list1

['cat', 'dog', 'monkey']

In [106]:
for i in list1:
    print(i)

cat
dog
monkey

In [107]:
student={'name':'Manish','age':24,'email':'manish.kharbuja389@gmail.com'}

In [109]:
student['name']

'Manish'

In [110]:
type(student)

dict

In [111]:
student

{'name': 'Manish', 'age': 24, 'email': 'manish.kharbuja389@gmail.com'}

In [115]:
student['number']=9860162514
#Used to append

In [116]:
student

{'name': 'Manish',
 'age': 24,
 'email': 'manish.kharbuja389@gmail.com',
 'number': 9860162514}

In [117]:
del(student)['age']

In [118]:
student

{'name': 'Manish',
 'email': 'manish.kharbuja389@gmail.com',
 'number': 9860162514}

In [119]:
student.key()

AttributeError: 'dict' object has no attribute 'key'

In [120]:
student.items()

dict_items([('name', 'Manish'), ('email', 'manish.kharbuja389@gmail.com'), ('number', 9860162514)])

In [121]:
student.values()

dict_values(['Manish', 'manish.kharbuja389@gmail.com', 9860162514])

In [122]:
student.keys()

dict_keys(['name', 'email', 'number'])

In [123]:
student2={'name':'Anish'}

In [124]:
student.update(student2)

In [125]:
student

{'name': 'Anish',
 'email': 'manish.kharbuja389@gmail.com',
 'number': 9860162514}

In [126]:
student2

{'name': 'Anish'}

In [127]:
set1=('a','b','c','d','a','c')

In [128]:
set1

('a', 'b', 'c', 'd', 'a', 'c')

In [129]:
set(set1)

{'a', 'b', 'c', 'd'}

In [130]:
s1={1,2,3,4,5}
s2={3,4,5,6,7}

In [132]:
s3=s1.intersection(s2)
print(s3)
#elements available in both s1 and s2

{3, 4, 5}

In [133]:
s1.difference(s2)
#only elements available in s1

{1, 2}

In [134]:
s2.difference(s1)
#only elements available in s2

{6, 7}

In [138]:
list3=[]
for i in range(0,5):
    number5=int(input('Type the number'))
    list3.append(number5)
list3

Type the number1
Type the number2
Type the number3
Type the number4
Type the number5

[1, 2, 3, 4, 5]

In [1]:
print(7/8)

0.875

In [6]:
x=100
y=10
z=7

for i in range(0,7):
    interest=0.1*x
    x=x + interest
    i=i+1
#     print(x)
print(x)

194.87170999999998

In [10]:
desc="compound interest"
profitable=True

In [11]:
type(profitable)

bool

In [13]:
pi_string="3.1415926"

In [14]:
pi_float=float(pi_string)

In [15]:
print(pi_float)

3.1415926

In [22]:
saving=100
result=100*1.10**7
print("I started with $" + str(saving)+" and now have $" + str(result) + ". Awesome!")
print("I started with $" + str(saving)+" and now have $" + str(result) + ". Awesome!")

I started with $100 and now have $194.87171000000012. Awesome!
I started with $100 and now have $194.87171000000012. Awesome!

In [23]:
[1+2]

[3]

In [24]:
[1+2,"a"*5,3]

[3, 'aaaaa', 3]

In [27]:
[[1,2,3],[4,5,7]]

[[1, 2, 3], [4, 5, 7]]

In [28]:
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

In [30]:
downstairs = areas[0:6]
print(downstairs)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0]

In [31]:
upstairs = areas[6:]
print(upstairs)

['bedroom', 10.75, 'bathroom', 9.5]

In [33]:
a="manish"

In [34]:
print(a.upper())

MANISH

In [35]:
a="MANISH"

In [36]:
print(a.lower())

manish

In [37]:
x=[1,2,3,4,5,1,3,2,9]

In [41]:
print(x.index(3))

2

In [42]:
print(x.count(1))

2

In [43]:
print(x)

[1, 2, 3, 4, 5, 1, 3, 2, 9]

In [44]:
x.append(10)

In [45]:
print(x)

[1, 2, 3, 4, 5, 1, 3, 2, 9, 10]

In [46]:
x.reverse()
print(x)

[10, 9, 2, 3, 1, 5, 4, 3, 2, 1]